<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Create a Car</title>
    </head>
    <body>
       <h1>Create a Car :<h1>

    
       <form>

        <div class="name">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        </div>

        <div class="nbSeat">
        <label for="nbSeat">Number of Seats :</label>
        <input type="number" id="nbSeat" name="nbSeat" min="1" max="10">
        </div>

        <div class="color">
        <label for="color">Select Color :</label>
        <input type="color" id="color" name="color" value="#000000">
        </div>

        <div class="height">
        <label for="height">Height :</label>
        <input type="text" id="height" name="height">
        </div>

        <div class="width">
        <label for="width">Width :</label>
        <input type="text" id="width" name="width">
        </div>

        <button type="submit">Submit</button>

       </form>
       
    </body>
</html>