{% extends 'base.html.twig' %}


{% block body %}

<style>
body { background-image: url('images/world.jpg'); }
h1 {
  text-align:center;
  Margin-top:200px;
  color: white;
  }
</style>

 <div>
    <h1> Hello, World ! </h1>
</div>

{% endblock %}